<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - graficas_pasantia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/graficas_pasantia.styles.css" asp-append-version="true" />
    <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">graficas_pasantia</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - graficas_pasantia - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        function grafica() {
            let ag = [];
            let value = [];
            let i = 0;
            let agIndice = [];
            let agFinal = [];
            let muestra = 0;
            const cant = 1296000;
            for (i = 0; i < cant; i++) {
                ag.push(i);
                value.push(Math.floor(Math.random() * cant+1 ));
            }
            muestra = (cant * 3 * 0.5 * 0.5) / (0.02 * 0.02 * (cant - 1) + 3 * 0.5 * 0.5);
            let intervalo = Math.floor(cant / muestra);
            let suma = 0;
            let promedio = 0;
            let mayor = -10000000;
            let menor = 1000000;
            for (i = 0; i < cant; i += intervalo) {
                agIndice.push(ag[i]);
                if(i === 0)
                    agFinal.push(value[Math.floor(Math.random() * intervalo+1)]);
                else
                    agFinal.push(value[i]);

                suma += value[i];
                if(mayor < value[i]){
                    mayor = value[i];
                }
                    
                if(menor > value[i]){
                    menor = value[i];
                }
                    
            }
            promedio = suma /cant;
           
            div = document.getElementById("sumar");
            div.innerHTML = 'Suma: '+suma;
            div = document.getElementById("promedio");
            div.innerHTML = 'Promedio: '+promedio;
            div = document.getElementById("mayor");
            div.innerHTML = 'Mayor: '+mayor;
            div = document.getElementById("menor");
            div.innerHTML = 'Menor: '+menor;
            for(let j=i; j< cant+cant*0.5; j+=intervalo){
                agIndice.push(j);
            }
            TESTER = document.getElementById('tester');
            return Plotly.newPlot(TESTER, [{
                x: agIndice,
                y: agFinal,
                mode: 'lines+markers'
            }], {
                margin: {
                    autoexpand: false,
                    l: 100,
                    r: 20,
                    t: 100
                  }
            });
        }
        grafica();
</script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>